# ========== UNITY ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Unity cache / local settings
UserSettings/

# ========== VISUAL STUDIO / RIDER ==========
.vs/
.gradle/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ========== OS ==========
.DS_Store
Thumbs.db
